/* impact of using DT package */

.addpad{
  width: 25px;
  margin: 0px 20px;
}

label{
  font-size: 12px;
  font-weight: normal;
  color:black;
}

.container {
    width: 200px;
    max-height: 300px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
    max-height:300px;
    border-radius:8px;
}

.text-center{
  text-align:center  ;
}

li{
    list-style-type: none;
    clear:both;
}


li h3{
    font-size: large;
    margin-bottom: 1px;
    text-align:center;
}

.boxWithLessPadding{
  padding:0px;
}

.boxWithLessPadding > div{
 padding-left:8px;
 padding-right:8px;
}


#playerComparison1 .small-box{
 width: 110px;
 max-height: 90px;
 margin:3px;
 margin-top:7px;
}
#playerComparison1 .col-sm-4{
  padding-left:0px;
  padding-right:8px;
  margin:8px 0px;
}

#playerComparison2 .small-box{
 width: 110px;
 max-height: 90px;
 margin:3px;
 margin-top:7px;
}
#playerComparison2 .col-sm-4{
  padding-left:0px;
  padding-right:8px;
  margin:8px 0px;
}

.small-box .icon-large{
  font-size: 50px;
}

.small-box h3 {
    font-size: 22px;
}


/*To hide tables first column and row*/
#tableComparision thead:first-child {
    display: none;
}

#tableComparision table {
  text-align: center;
  width:100% !important;
  margin-bottom:0px;
}
/**/


/* WHOSCORED Dream team*/
.best-formation, #tournament-formation-content {
    background: url(/img/pitch4.png) no-repeat scroll right top transparent;
    margin-top: 1em;
    height: 400px;
    width: 690px;
}

.pitch .player-wrapper {
    position: absolute;
    margin-left: -2.2em;
    margin-top: -1.5em;
    white-space: nowrap;
    text-align: center;
}
.pitch .player-wrapper li {
    line-height: 1em;
}
.team-pitch-formation {
    width: 100%;
    text-align: center;
}

.best-formation .team-emblem, #tournament-formation-content .team-emblem {
    height: 4em;
    position: absolute;
    width: 4em;
}

.pitch .player-wrapper li {
    line-height: 1em;
}
.best-formation .player, #tournament-formation-content .player, #team-formations-content .player {
    position: relative;
    display: inline-block;
    text-align: left;
}
.best-formation .player, #tournament-formation-content .player {
    height: 4em;
    width: 4em;
}
.team-pitch-formation .team-link {
    color: #CCC;
    font-size: .8em;
    font-weight: bold;
}

.team-pitch-formation .player-stats {
    width: 9em;
    padding-top: .5em;
    font-size: .9167em;
    text-align: center;
    color: #D0D0D0;
}
.pitch .player-rating {
    background-color: #EB5B14;
    color: #FFF;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    height: 1.2em;
    line-height: 1.3em;
    width: 2em;
    border-radius: 3px 3px 3px 3px;
}
body {
    font-size: 12px;
    line-height: 1.5em;
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
}
/*
ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
    margin: 0;
    padding: 0; 
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
*/
/*WHOSCORED  END*/

.soccer-icon{
  font-size:30px
}